.proddetails ul{
    list-style-type:none;
  
}
.proditems{
    list-style-type: none;
    width: 100%;
 
   
}
.proditem{
    width: 50%;
    height: 10%;
    display: flex;
    background-color: darkorchid;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
   
}
.proddetails{
    flex-grow: 1;
}
.addbutton{
    margin-right: 15px;
}
.prodimage img {
width: 50%;

 
}
.cartproducts ul{
    list-style-type: none;
}
.cartproducts{
   
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}
 .proditemcart{
    display: flex;
    background-color: darkorchid;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.cartproducts input{
    margin: 5px;
}
.quantity input{
    padding: 2px;
   
}
.quantity label{
    margin-left: 3px;
}

#box{
   
    margin: auto;
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  
}
#box input{
    width: 100%;
}