.proddetails ul{
    list-style-type:none;
}
.proditems{
    list-style-type: none;
}
.proditem{
    width: 100%;
    height: 10%;
    display: flex;
    background-color: darkorchid;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.proddetails{
    flex-grow: 1;
}
.addbutton{
    margin-right: 15px;
}
.prodimage{
    width: 15%;
    height:100%;
}
.prodimage img {
width: 100%;
height: 100%;
object-fit:fit;
 
}
.cartproducts ul{
    list-style-type: none;
}
.cartproducts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .proditemcart{
    display: flex;
    background-color: darkorchid;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.cartproducts input{
    margin: 5px;
}
.quantity input{
    padding: 2px;
}
.quantity label{
    margin-left: 3px;
}

#box{
    margin: auto;
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  
}
#box input{
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aqua;
    flex-direction: column;
  
}

.container ul{
    text-align: center;
}

.form-group{
    width: 50%;
    align-items: center;
}
